{% extends 'base.html' %} {% load auth_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}Fiber Optic Worker Detail{% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container mt-4 custom-container">
      <h1>Fiber Optic Worker Detail</h1>
      <a href="/fiber/display_worker">Back</a>

      <div class="row">
        <!-- Left column for the form -->
        <div class="col-md-6">
          <form
            id="editForm"
            method="post"
            action="{% url 'edit_worker' entity.id %}"
            data-redirecturl="{% url 'worker_detail' entity.id %}"
          >
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
          <form
            id="deleteForm"
            method="post"
            action="{% url 'delete_worker' entity.id %}"
            onclick="return confirmDelete('/fiber/display_worker/');"
            class="mt-2"
          >
            {% csrf_token %}
            <button type="button" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
